<!-- Include the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>
    <style>
        p {
            font-size: 10px;
        }
    </style>
    <!-- Head Close -->
    </head>
    <!-- Body Start -->

    <body>
        <!-- Include the Partial for the preloader  -->
        <%- include('partials/preloader') -%>
            <!-- Include the Partial for the topbar (regular)-->
            <%- include('partials/topBar') -%>


                <h1>Hello, this is the redirect page</h1>
                <!-- Include the Partial for the bottom finishing the html (Body close tag is in bottom.ejs)-->
                <%- include('partials/bottomBarPartners') -%>

                    <!-- Include the Partial for the bottom finishing the html (Body close tag is in bottom.ejs)-->
                    <%- include('partials/bottom') -%>