<!-- Include the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>
    <style>
        p {
            font-size: 10px;
        }
    </style>
    <!-- Head Close -->
    </head>
    <!-- Body Start -->

    <body>
        <!-- Include the Partial for the preloader  -->
        <%- include('partials/preloader') -%>
            <!-- Include the Partial for the topbar (regular)-->
            <%- include('partials/topBar') -%>

                <main class="container">
                    <h3>Posta Partner Terms</h3>

                    <p>This agreement (the "Agreement") is made and entered into by and between you ("Contractor" or "you"),
                        an independent contractor engaged in the business of performing the type of delivery or courier services
                        contemplated by this Agreement, and Posta Technologies, Inc. ("POSTA"). Contractor and POSTA may
                        be referred to herein individually as a "Party" and collectively as the "Parties". This Agreement
                        will become effective on the date it is accepted by Contractor regardless of whether Contractor is
                        eligible to or ever performs any delivery services. </p>

                    <p>IMPORTANT: PLEASE REVIEW THIS AGREEMENT CAREFULLY. SPECIFICALLY, PLEASE REVIEW THE MUTUAL ARBITRATION
                        PROVISION IN SECTION 11, WHICH REQUIRES THE PARTIES (UNLESS YOU OPT OUT OF ARBITRATION AS PROVIDED
                        BELOW) TO RESOLVE DISPUTES ON AN INDIVIDUAL BASIS, TO THE FULLEST EXTENT PERMITTED BY LAW, THROUGH
                        FINAL AND BINDING ARBITRATION. BY ACCEPTING THIS AGREEMENT, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD,
                        AND VOLUNTARILY AGREED TO ALL OF THE TERMS OF THIS AGREEMENT, INCLUDING THE MUTUAL ARBITRATION PROVISION,
                        AND THAT YOU HAVE TAKEN TIME TO CONSIDER THE CONSEQUENCES OF THIS IMPORTANT BUSINESS DECISION.</p>

                    <p>In addition, you acknowledge that you have read, understood, and voluntarily agreed to the POSTA Terms
                        of Service and Privacy Policy, both of which are expressly incorporated herein by reference. </p>

                    <h4>Enumerations</h4>

                    <p>POSTA provides a platform through a mobile application (the "POSTA App" or "App" or “Platform”) using
                        web-based technology that connects people and/or businesses (collectively "Users" or “customers”),
                        customers using the POSTA platform and/or mobile application ("Users" or “Customers”), and independent
                        providers of delivery or courier services ("Contractors"). POSTA’s software and/or application permits
                        Customers to place orders for courier and/or delivery services, notifies Contractors that a delivery
                        or courier Opportunity (as defined in section 3A below) is available, and facilitates the completed
                        delivery of such orders to the Customers who placed them. POSTA is not a retail store, restaurant,
                        food delivery service, logistics company, merchandise delivery service, mail system, courier company,
                        or packaging entity. </p>

                    <p>Contractor is a fully-licensed, independent provider of delivery or courier services, authorized to perform
                        the delivery services contemplated by this Agreement in the geographic location(s) in which Contractor
                        operates. Contractor lawfully possesses all equipment necessary to perform the delivery services
                        contemplated by this Agreement in accordance with all applicable laws. Contractor desires to enter
                        into this Agreement for the right to access the POSTA Platform to receive Delivery or courier Opportunities
                        (as defined in section 3A below) made available to Contractor through the Platform. When performing
                        delivery services pursuant to the terms of this Agreement, Contractor understands and expressly agrees
                        that Contractor is not doing so as an employee of POSTA, any business, or any Customer. Contractor
                        further understands that: (i) Contractor is free to select those times Contractor wishes to use the
                        POSTA Platform to be available to receive Delivery or courier Opportunities; (ii) Contractor is free
                        to accept or ignore any particular Delivery Opportunities made available to Contractor through the
                        Platform as Contractor sees fit to maximize Contractor's opportunity to profit; and (iii) Contractor
                        has the sole right to control the manner in which Deliveries are performed and the means by which
                        those deliveries are completed. </p>

                    <p>In consideration of these enumerations and the mutual promises below, and for other good and valuable
                        consideration, POSTA and Contractor agree as follows: </p>

                    <h5>1. Purpose Of Agreement </h5>
                    <p>1A. This Agreement governs the entire relationship between POSTA and Contractor, and establishes the
                        Parties' respective rights and obligations applicable to the Delivery Opportunities (as defined in
                        Section 3A below) made available to Contractor through the Platform. In exchange for the promises
                        contained in this Agreement, Contractor shall have the contractual right and obligation to perform
                        those Delivery Opportunities that Contractor accepts ("Deliveries", defined in Section 3A below).
                        However, except as expressly stated below in Section 12, "Term and Termination", nothing in this
                        Agreement requires Contractor to perform any delivery services during the Term of this Agreement,
                        and nothing in this Agreement shall guarantee Contractor any particular volume of Delivery Opportunities
                        or Deliveries for any particular time period.
                    </p>

                    <p>1B. Notwithstanding any other provision of this Agreement, once Contractor accepts a Delivery Opportunity,
                        Contractor agrees that Contractor shall be contractually bound to complete the Delivery in accordance
                        with this Agreement and any specifications provided to Contractor by a Customer and/or Merchant.
                    </p>

                    <p>1C. Posta reserves the right, from time to time, to modify any external documents referenced and incorporated
                        into this Agreement, including but not limited to POSTA’s Terms of Service and Privacy Policy, and
                        any information referenced at hyperlinks, and such modifications shall become effective upon posting.
                        Continued use of the POSTA Platform after any such changes shall constitute Contractor's consent
                        to such changes. Contractor acknowledges and agrees that if POSTA modifies any provision of this
                        Agreement (including any information referenced at hyperlinks), other than the Mutual Arbitration
                        Provision herein, Contractor will not have a renewed opportunity to opt out of arbitration. Contractor
                        further acknowledges and agrees that unless the Mutual Arbitration Provision herein is materially
                        different from any prior arbitration provision with POSTA to which you may be bound, your acceptance
                        of this Agreement does not create a renewed opportunity to opt out of arbitration (if applicable).
                    </p>
                    <h5>2. Contractor's Services</h5>
                    <p>2A. Contractor agrees and represents that Contractor is an independent provider of delivery or courier
                        services, and that Contractor satisfies any and all legal requirements necessary to perform the delivery
                        services contemplated by this Agreement. Contractor agrees to perform all Deliveries in compliance
                        with any and all applicable federal, state, and local laws, rules and regulations, including but
                        not limited to applicable food and health safety laws, rules, and/or regulations. Additionally, Contractor
                        agrees that all items delivered, including food, shall arrive to the Customer uncontaminated, free
                        from tampering, and at the temperature or condition intended by the Customer or Business (“User”
                        or “Requestor”). </p>
                    <p>2B. Contractor agrees to ensure full performance of all Deliveries in a timely, efficient, safe, and
                        lawful manner. POSTA shall have no right to, and shall not, supervise, direct or control Contractor,
                        or control the manner or prescribe the method Contractor uses to perform Deliveries, and the general
                        public and all governmental agencies regulating the activities contemplated by this Agreement shall
                        be so informed. Contractor shall be solely responsible for determining the most effective, efficient,
                        satisfactory, and safe manner to perform Deliveries, including determining the manner of pickup,
                        delivery, and route selection. Contractor agrees, for safety purposes, that Contractor will personally
                        pick up and drop off all items accepted for delivery. However, nothing in this Agreement prohibits
                        Contractor, to the extent permitted by law and subject to the terms of this Agreement, from hiring,
                        subcontracting, or otherwise engaging any other person (a "Subcontractor") to assist Contractor with
                        the performance of some or all of Contractor's performance of a Delivery, provided any Subcontractor
                        meets and accepts all the requirements and obligations of this Agreement applicable to Contractor,
                        including but not limited to accepting the terms of this Agreement and completing the process to
                        separately receive Delivery Opportunities on the POSTA Platform. Contractor agrees to bear sole responsibility
                        for the direction and control over any Subcontractor. Specifically, to the extent Contractor engages
                        a Subcontractor: (1) Contractor assumes full and sole responsibility for the payment of all amounts
                        due to the Subcontractor for work performed in relation to this Agreement, including all wages, benefits
                        and expenses, if any, and for all required state and federal income tax withholdings, unemployment
                        insurance contributions, and social security taxes as to Contractor and all Subcontractor(s) engaged
                        by Contractor in the performance of the delivery services under this Agreement. POSTA shall have
                        no responsibility for any wages, benefits, expenses, or other payments due Contractor's Subcontractor(s),
                        nor for income tax withholding, social security, unemployment insurance contributions, or other payroll
                        taxes relating to Contractor or any Subcontractor. Neither Contractor nor any Subcontractor shall
                        receive any wages, including vacation pay or holiday pay, from POSTA, nor shall they participate
                        in or receive any other benefits, if any, available to POSTA employees. Unless mandated by law, POSTA
                        shall have no authority to withhold state or federal income taxes, social security taxes, unemployment
                        insurance taxes/contributions, or any other local, state or federal tax on behalf of Contractor or
                        any Subcontractor. The Parties acknowledge and agree that those provisions of the Agreement reserving
                        ultimate authority in POSTA have been inserted solely to achieve compliance with federal, state,
                        or local laws, regulations, and interpretations thereof and/or to ensure the safety of the Platform
                        for all users. </p>

                    <p>2C. Contractor expressly acknowledges and agrees that as a separately established provider of delivery
                        or courier services, Contractor retains the right to perform services for others and to hold him
                        or herself out to the general public as a separately established provider of delivery services. Nothing
                        in this Agreement shall prevent Contractor or POSTA from engaging in similar arrangements or business
                        with others. POSTA neither has nor reserves the right to restrict Contractor at any time from performing
                        delivery services for other entities or customers, even should such business directly compete with
                        POSTA. Provided Contractor can meet the customer's specifications, and unless prohibited by law,
                        nothing in this Agreement shall prohibit Contractor from carrying and/or delivering goods for other(s)
                        of Contractor's customers at the same time while delivering orders requested by Customers through
                        the POSTA Platform. Similarly, Contractor is not limited in any way from being actively logged onto
                        online platforms other than the POSTA Platform while actively logged onto the POSTA Platform, subject
                        only to the limitation that Contractor's use of other online platforms may not prevent Contractor's
                        ability to timely, efficiently, and safely complete any Deliveries. </p>
                    <p>2D. Contractor is not required, as a condition of doing business with POSTA or entering into this Agreement,
                        to purchase, lease, or rent any products, equipment, or services from POSTA. </p>
                    <p>2E. Contractor agrees that to ensure the safety of the POSTA Platform, POSTA shall require that Contractor
                        submit to and pass a background check based on Contractor's own social security number before Contractor
                        receives access to the POSTA Courier Platform or is given continued access to the Platform. Additionally,
                        Contractor agrees that, in accordance with applicable law, and at POSTA’s sole discretion, periodically
                        during the Term of this Agreement (as defined in Section 12 below) POSTA may require that Contractor
                        submit to and pass additional background check(s). POSTA agrees that any such check(s) may be conducted
                        only with Contractor's consent (as applicable) and in accordance with applicable law. </p>
                    <p>2F. On occasion, POSTA may offer Contractor different promotions or referral programs. Contractor agrees
                        not to abuse or manipulate the promotions or referral programs. Contractor understands that any abuse
                        or manipulation constitutes a material breach of this Agreement and may lead to deactivation, and
                        that Contractor forfeits any payments.
                    </p>
                    <p>2G. Contractor agrees that POSTA, its affiliates or its representatives may contact Contractor by email,
                        phone, push notifications, SMS, or by other comparable means (including by use of an automatic telephone
                        dialing system) at the email address(es), phone(s), or phone number(s) Contractor provides, including
                        for marketing purposes where permitted by law. Contractor also agrees and understands that POSTA
                        sends information related to Deliveries and Delivery/Courier Opportunities, including delivery fees,
                        user account information, and sign up progress to become a Contractor, via SMS and push notification,
                        so Contractor must agree to receive such transactional messages to provide delivery services as a
                        Contractor on the Platform. </p>
                    <p>2H. SMS and push communications from POSTA, its affiliates or its representatives and/or Users or Other
                        Partners or Customers, may include but are not limited to: (1) operational communications concerning
                        your user account, sign up progress to become a Contractor, use of the Platform, or features available
                        on the Platform, (2) communications relating to Deliveries and Delivery Opportunities, including
                        delivery fees, (3) news concerning POSTA and industry developments that affect your relationship
                        with us, and (4) account verification communications. With your consent, POSTA may also send you
                        marketing SMS regarding promotions from us or our third-party partners. Message and data rates may
                        apply. </p>

                    <p>IF YOU WISH TO OPT OUT OF MARKETING EMAILS, YOU CAN UNSUBSCRIBE FROM OUR MARKETING EMAIL LIST BY FOLLOWING
                        THE UNSUBSCRIBE OPTIONS IN THE MARKETING EMAIL ITSELF. PLEASE BE ADVISED THAT IF YOU OPT OUT OF MARKETING
                        EMAILS, POSTA MAY STILL SEND YOU EMAILS ABOUT YOUR ACCOUNT OR ANY TRANSACTIONS BETWEEN US. IF YOU
                        WISH TO OPT OUT OF MARKETING TEXT MESSAGES, YOU MAY TEXT "STOP"IN RESPONSE TO SUCH A TEXT MESSAGE
                        FROM THE MOBILE DEVICE RECEIVING THE MESSAGES. YOU ACKNOWLEDGE THAT YOU ARE NOT REQUIRED TO CONSENT
                        TO RECEIVE MARKETING TEXTS OR CALLS AS A CONDITION OF PERFORMING SERVICES AS A CONTRACTOR ON THE
                        PLATFORM. </p>
                    <h5>3. Deliveries </h5>
                    <p>3A. From time to time, the Platform will notify Contractor of the opportunity to complete deliveries
                        from Merchants to Customers as ordered by Customers through the Platform (each, a "Delivery Opportunity").
                        The Platform may provide Contractor automatic acceptance options or other preferences for certain
                        Delivery Opportunities. With respect to each Delivery Opportunity accepted by Contractor (each, a
                        "Delivery"), Contractor agrees to retrieve the order from the Merchant(s) and deliver the order to
                        Customer(s) in accordance with the terms of this Agreement. Contractor understands and agrees that
                        the Customer, not POSTA, determines the content of the Delivery. Contractor understands and agrees
                        that the parameters of each Delivery are established by the Customer, not POSTA, and represent the
                        end result desired, not the means by which Contractor is to accomplish the end result. Notwithstanding
                        the foregoing, Contractor agrees to complete Deliveries according to the terms of this Agreement
                        and as may be required and updated by POSTA from time to time in the Posta Partner Section of www.postatechnologies.com.
                        CONTRACTOR IS INDEPENDENTLY RESPONSIBLE FOR THE CONTENTS OF ALL DELIVERY AND/OR COURIER JOBS ACCEPTED
                        ON THE PLATFORM. Posta Technologies, Inc. shall not be held responsible for any loss, theft, or damage
                        to things that Partners deliver. Posta recommends that Partners obtain delivery or courier insurance.
                    </p>
                    <p>3B. Contractor agrees that POSTA has discretion regarding which, if any, Delivery Opportunities to offer
                        Contractor, just as Contractor has sole discretion to decide whether and to what extent Contractor
                        accepts any Delivery Opportunity. </p>
                    <p>3C. Contractor agrees that if Contractor accepts a Delivery Opportunity that includes any age-restricted
                        items, including but not limited to alcohol, tobacco, e-cigarettes, or vaporizers, Contractor is
                        solely responsible for ensuring that the Delivery complies with all federal, state, and local laws,
                        including but not limited to ensuring that the individual accepting the delivery is the individual
                        who placed the order, has provided valid identification, is the required age, and is not intoxicated.
                    </p>
                    <p>3D. Contractor authorizes POSTA, during the course of a Delivery, to communicate with Contractor, customer,
                        and/or Merchant to assist Contractor, to the extent permitted by Contractor, in facilitating a Delivery.
                        However, under no circumstances shall POSTA be authorized to control the manner or means by which
                        Contractor performs a Delivery. </p>
                    <p>3E. Contractor agrees that In the event Contractor fails to fully perform any Delivery (a "Service Failure"),
                        POSTA reserves the right to recover any costs incurred by POSTA related to a Service Failure that
                        result from Contractor's action or omission. Contractor further agrees that if Contractor fails to
                        complete a return of any item that cannot be delivered (a "Return Failure"), POSTA reserves the right
                        to recover any costs incurred by POSTA related to the Return Failure. If Contractor disputes responsibility
                        for a Service Failure or Return Failure, Contractor agrees that the dispute shall be resolved pursuant
                        to the "Payment Disputes" provision in Section 5 below. </p>
                    <h5>4. Delivery Fees</h5>
                    <p>4A. Unless notified in writing by POSTA or as otherwise provided herein, Contractor will receive payment
                        per completed Delivery in the amount listed in the payment schedule for the relevant type of delivery
                        and/or relevant market, which may be confirmed via available resources provided or via email. POSTA
                        reserves the right, at its sole discretion, to change the payment schedules at any time for any reason.
                        Continued use of the POSTA Platform shall constitute your consent to the payment schedule. From time
                        to time, POSTA may, but is not obligated to, offer Contractor additional incentives to complete particular
                        Deliveries. Nothing prevents the Parties from negotiating a different rate of pay, and Contractor
                        is free to accept, reject, or ignore any Delivery Opportunities as a means to earn different rates
                        of pay. </p>
                    <p>4B. POSTA agrees to transmit payment for a Delivery completed by Contractor to Contractor via direct
                        deposit payment no later than seven (7) days after Contractor successfully completes the related
                        Delivery. Contractor is responsible for any applicable processing fees associated with such remittance.
                        Contractor further agrees to accept transfer and/or transaction fees, as applicable, for such payments.
                    </p>
                    <h5>5. Payment Disputes </h5>
                    <p>5A. Contractor's Failure: In the event there is a Service Failure, Contractor agrees that Contractor
                        may forfeit all or a portion of the payment as described in Section 4 above (depending on the extent
                        to which the Service Failure results from Contractor's action or omission). Any reduction of payment
                        shall be based upon proof provided by the Customer, Merchant, Contractor, and/or any other party
                        with information relevant to the dispute. POSTA shall make the initial determination as to what percentage
                        of fault Contractor bears (and, therefore, what percentage of the Delivery Fee Contractor shall forfeit).
                        Contractor shall have the right to challenge POSTA’s determination as described in the provisions
                        set forth in Sections 11 and 12, below. </p>
                    <p>5B. POSTA’s Failure: In the event POSTA fails to remit payment in a timely or accurate manner, Contractor
                        shall have the right to seek proper payment by any legal means contemplated by this Agreement, provided,
                        however, Contractor first informs POSTA in writing of the failure and provides POSTA a reasonable
                        opportunity to cure.</p>
                    <h5>6. Contractor's Equipment and Expenses </h5>
                    <p>6A. Contractor certifies that, as applicable, Contractor has all equipment, including motor vehicles,
                        scooters, and/or bicycles, (collectively "Equipment") necessary to perform Deliveries. When Contractor
                        uses a motor vehicle or scooter to perform a Delivery, Contractor is solely responsible for ensuring
                        that the such motor vehicle or scooter conforms to all vehicle laws pertaining to safety, equipment,
                        inspection, and operational capability. In addition, Contractor agrees that all Equipment will be
                        free of health hazards, including but not limited to odors, toxins, chemicals, waste, or debris as
                        required by law. </p>
                    <p>6B. Contractor is responsible for all costs and expenses arising from Contractor's performance of Deliveries,
                        including, but not limited to, traffic tickets, tolls, parking fees, inspections, and any other costs
                        related to Equipment. Except as otherwise required by law, Contractor assumes all risk of damage
                        or loss to Contractor's Equipment.
                    </p>
                    <h5>7. Relationship of Parties </h5>
                    <p>7A. The Parties acknowledge and agree that this Agreement is between independent businesses that are
                        separately owned and operated. The Parties intend this Agreement to create the relationship of principal
                        and independent contractor and not that of employer and employee. The Parties are not employees,
                        agents, joint venturers, or partners of each other for any purpose. Neither party shall have the
                        right to bind the other by contract (or otherwise) except as specifically provided in this Agreement.
                    </p>
                    <p>7B. For a Contractor who earns the minimum income established by the Internal Revenue Service, POSTA
                        shall report all payments made to Contractor on a calendar year basis by issuing an applicable IRS
                        Form 1099. Contractor agrees that POSTA may fulfill any tax-related obligations, including but not
                        limited providing 1099 Forms, through any means, including by electronic transmission to the email
                        address associated with Contractor account, as provided by Contractor. Contractor agrees to report
                        all such payments to the appropriate federal, state, and local taxing authorities. </p>
                    <h5>8. Insurance </h5>
                    <p>8A. As a condition of doing business with POSTA, and at Contractor's own expense, Contractor shall, during
                        the Term of this Agreement, maintain current insurance of the types and in the amounts required by
                        law in the jurisdiction in which Contractor operates to perform Contractor's delivery services as
                        contemplated by this Agreement. This includes, but is not limited to, vehicle insurance that satisfies
                        the minimum vehicle insurance coverage amounts and types required by state or local law. Contractor's
                        acknowledges that failure to secure or maintain satisfactory insurance coverage, including but not
                        limited to vehicle insurance if applicable, shall be deemed a material breach of this Agreement.
                        POSTA may offer Contractor the opportunity to participate in certain group insurance plans made available
                        by third-party providers to delivery service providers like Contractor who use the POSTA Platform.
                        However, Contractor is under no obligation to participate in such plans. </p>
                    <p>8B. Workers' Compensation/Occupational Accident Insurance: Contractor agrees that Contractor will not
                        be eligible for workers' compensation benefits through POSTA, and instead, will be responsible for
                        providing Contractor's own workers' compensation insurance or occupational accident insurance, if
                        permitted by law. </p>
                    <p>8C. Notification of Coverage: Contractor agrees to deliver to POSTA, upon request, current certificates
                        of insurance as proof of coverage. Contractor agrees to make available updated certificates each
                        time Contractor purchases, renews, or alters Contractor's insurance coverage. Contractor agrees to
                        give POSTA at least thirty (30) days' prior written notice before cancellation of any insurance policy
                        required by this Agreement. POSTA reserves the right to require Contractor to identify POSTA as an
                        additional insured on Contractor's vehicle insurance. </p>
                    <h5>9. Confidentiality </h5>
                    <p>9A. Contractor acknowledges and agrees that in the performance of this Agreement Contractor may have
                        direct or indirect access or exposure to POSTA’s confidential information ("Confidential Information").
                        Confidential Information includes POSTA’s data, provider IDs, user information, Customer information,
                        package information, and the transaction volume, marketing and business plans, business, financial,
                        technical, operational and such other nonpublic information (whether disclosed in writing or verbally)
                        that POSTA designates as being proprietary or confidential or that Contractor should reasonably know
                        to treat as confidential.
                    </p>
                    <p>9B. Contractor acknowledges and agrees that: (a) all Confidential Information shall remain the exclusive
                        property of the POSTA; (b) Contractor shall not use Confidential Information for any purpose except
                        to complete a Delivery; (c) Contractor shall not disclose Confidential Information to any third party;
                        and (d) Contractor shall not keep Confidential Information and shall return or destroy (with confirmation
                        of destruction) all Confidential Information upon the termination of this Agreement or at the request
                        of POSTA.
                    </p>
                    <p>9C. Notwithstanding the foregoing, Confidential Information shall not include any information to the
                        extent it: (a) is or becomes part of the public domain through no action or omission of Contractor;
                        (b) was possessed by Contractor prior to the date of this Agreement without an obligation of confidentiality;
                        or (c) is disclosed to Contractor by a third party having no obligation of confidentiality with respect
                        thereto.
                    </p>
                    <h5>10. Indemnity </h5>
                    <p>10A. Contractor agrees to defend, indemnify, protect, and hold harmless POSTA, including all parent,
                        subsidiary, and/or affiliated companies, as well as its and their past and present successors, assigns,
                        officers, owners, directors, agents, representatives, attorneys, and employees (collectively "Indemnitees"),
                        from any and all claims, demands, damages, lawsuits, losses, liabilities and causes of action arising
                        directly or indirectly from, as a result of or in connection with, the actions of Contractor and/or
                        Subcontractor arising from the performance of Deliveries under this Agreement, including but not
                        limited to, personal injury to or death of any person (including Contractor and/or Subcontractor),
                        as well as any liability arising from Contractor's failure to comply with the terms of this Agreement.
                        Contractor's obligations hereunder shall include the cost of defense, including attorneys' fees,
                        as well as the payment of any final judgment rendered against or settlement agreed upon by POSTA
                        or its parent, subsidiary, and/or affiliated companies. </p>
                    <p>10B. Contractor agrees to indemnify, protect, and hold harmless the Indemnitees from any and all tax
                        liabilities and responsibilities for payment of all federal, state, and/or local taxes, including,
                        but not limited to all payroll taxes, self-employment taxes, workers' compensation premiums, and
                        any contributions imposed or required under federal, state, and/or local laws, that are owed by Contractor
                        with respect to Contractor's and/or any Subcontractors using the POSTA Platform to complete Deliveries.</p>
                    <p>10C. Contractor agrees to be responsible for, indemnify, and hold harmless POSTA, including all parent,
                        subsidiary, and/or affiliated companies, as well as its and their past and present successors, assigns,
                        officers, owners, directors, agents, representatives, attorneys, and employees from all costs of
                        Contractor's business, including, but not limited to, the expense and responsibility for any and
                        all applicable insurance, local, state, and/or federal licenses, permits, taxes, and assessments
                        of any and all regulatory agencies, boards or municipalities.</p>
                    <h5>11. Mutual Arbitration Provision </h5>
                    <p>11A. Arbitration of Disputes. POSTA and Contractor mutually agree to resolve any disputes between them
                        exclusively through final and binding arbitration instead of filing a lawsuit in court.</p>
                    <p> POSTA and Contractor expressly agree that this Mutual Arbitration Provision is governed exclusively by
                        the Federal Arbitration Act (9 U.S.C. §§ 1-16) ("FAA") and shall apply to any and all claims between
                        the Parties, including but not limited to those arising out of or relating to this Agreement, the
                        Contractor's classification as an independent contractor, Contractor's provision of delivery services
                        under this Agreement, the Delivery Fees received by Contractor for performing Deliveries, the termination
                        of this Agreement, the deactivation of Contractor's account, and all other aspects of the Contractor's
                        relationship with POSTA, past or present, whether arising under federal, state, or local law, including
                        without limitation harassment, discrimination, and/or retaliation claims and claims arising under
                        or related to the Civil Rights Act of 1964 (or its state or local equivalents), Americans with Disabilities
                        Act (or its state or local equivalents), Age Discrimination in Employment Act (or its state or local
                        equivalents), Family Medical Leave Act (or its state or local equivalents), Fair Labor Standards
                        Act (or its state or local equivalents), state and local wage and hour laws, state and local statutes
                        or regulations addressing the same or similar subject matters, and all other federal, state, and/or
                        local claims arising out of or relating to the Contractor's relationship or termination of that relationship
                        with POSTA. The Parties expressly agree that this Agreement shall be governed by the FAA even in
                        the event Contractor and/or POSTA are otherwise exempted from the FAA. Any disputes in this regard
                        shall be resolved exclusively by an arbitrator. In the event, but only in the event, the arbitrator
                        determines the FAA does not apply, the state law governing arbitration agreements in the state in
                        which the Contractor performs delivery services shall apply. </p>
                    <p>Only an arbitrator, and not any federal, state, or local court or agency, shall have the exclusive authority
                        to resolve any dispute relating to the interpretation, applicability, enforceability, or formation
                        of this Mutual Arbitration Provision. However, as stated in Section 11B.IV below, the preceding clause
                        shall not apply to the Class Action Waiver and Representative Action Waiver. </p>
                    <p>11B. BY AGREEING TO ARBITRATE DISPUTES BETWEEN THEM AS DESCRIBED HEREIN THE PARTIES TO THIS AGREEMENT
                        AGREE THAT ALL SUCH DISPUTES WILL BE RESOLVED THROUGH BINDING ARBITRATION BEFORE AN ARBITRATOR AND
                        NOT BY WAY OF A COURT OR JURY TRIAL.</p>
                    <p>If either party wishes to initiate arbitration, the initiating party must notify the other party in writing
                        via certified mail, return receipt requested, or hand delivery within the applicable statute of limitations
                        period. This demand for arbitration must include (1) the name and address of the party seeking arbitration,
                        (2) a statement of the legal and factual basis of the claim, and (3) a description of the remedy
                        sought. Any demand for arbitration by Contractor must be delivered to POSTA Attn: Legal Department,
                        5750 Baum Blvd STE 302 Pittsburgh, PA, 15232, US . </p>
                    <p>CLASS ACTION WAIVER—PLEASE READ. POSTA and Contractor mutually agree that any and all disputes or claims
                        between the parties will be resolved in individual arbitration. The Parties further agree that by
                        entering into this Agreement, they waive their right to have any dispute or claim brought, heard
                        or arbitrated as a class and/or collective action, or to participate in any class and/or collective
                        action, and an arbitrator shall not have any authority to hear or arbitrate any class and/or collective
                        action ("Class Action Waiver"). </p>
                    <p>REPRESENTATIVE ACTION WAIVER—PLEASE READ. POSTA and Contractor mutually agree that any and all disputes
                        or claims between the Parties will be resolved in individual arbitration. The Parties further agree
                        that by entering into this Agreement, they waive their right to have any dispute or claim brought,
                        heard or arbitrated as a representative action, or to participate in any representative action, and
                        an arbitrator shall not have any authority to arbitrate a representative action ("Representative
                        Action Waiver").</p>
                    <p>Notwithstanding any other clause contained in this Agreement, this Mutual Arbitration Provision, or the
                        American Arbitration Association Commercial Arbitration Rules ("AAA Rules"), any claim that all or
                        part of this Class Action Waiver and/or Representative Action Waiver is unenforceable, unconscionable,
                        void, or voidable shall be determined only by a court of competent jurisdiction and not by an arbitrator.
                        As stated above, all other disputes regarding interpretation, applicability, enforceability, or formation
                        of this Mutual Arbitration Provision shall be determined exclusively by an arbitrator. Contractor
                        agrees and acknowledges that entering into this Mutual Arbitration Provision does not change Contractor's
                        status as an independent Contractor in fact and in law. Contractor further agrees that when performing
                        delivery services pursuant to the terms of this Agreement, Contractor is not doing so as an employee
                        of POSTA, a Merchant, or a customer. Contractor further agrees that any disputes in this regard shall
                        be determined exclusively by an arbitrator.</p>
                    <p> Any arbitration shall be governed by the AAA Rules, except as follows: (1) The arbitration shall be heard
                        by one arbitrator selected in accordance with the AAA Rules. The arbitrator shall be an attorney
                        with experience in the law underlying the dispute; (2) POSTA shall pay the arbitrator's and arbitration
                        fees and costs, unless applicable law requires otherwise. Notwithstanding applicable law to the contrary,
                        POSTA shall pay the arbitrator's and arbitration fees and costs related to any payment dispute (see
                        Section 5, above); (3) The arbitrator may issue orders (including subpoenas to third parties) allowing
                        the Parties to conduct discovery sufficient to allow each party to prepare that party's claims and/or
                        defenses, taking into consideration that arbitration is designed to be a speedy and efficient method
                        for resolving disputes; (4) Except as provided in the Class Action Waiver and Representative Action
                        Waiver, the arbitrator may award all remedies to which a party is entitled under applicable law and
                        which would otherwise be available in a court of law, but shall not be empowered to award any remedies
                        that would not have been available in a court of law for the claims presented in arbitration. The
                        arbitrator shall apply the state or federal substantive law, or both, as is applicable; (5) The arbitrator
                        may hear motions to dismiss and/or motions for summary judgment and will apply the standards of the
                        Federal Rules of Civil Procedure governing such motions; (6) The arbitrator's decision or award shall
                        be in writing with findings of fact and conclusions of law; (7) Either POSTA or Contractor may apply
                        to a court of competent jurisdiction for temporary or preliminary injunctive relief on the ground
                        that without such relief the arbitration provided in this Section 11 may be rendered ineffectual.
                    </p>
                    <p>Regardless of any other terms of this Agreement, nothing prevents Contractor from making a report to
                        or filing a claim or charge with the Equal Employment Opportunity Commission, U.S. Department of
                        Labor, Securities Exchange Commission, National Labor Relations Board, or Office of Federal Contract
                        Compliance Programs, and nothing in this Agreement or Mutual Arbitration Provision prevents the investigation
                        by a government agency of any report, claim or charge otherwise covered by this Mutual Arbitration
                        Provision. This Mutual Arbitration Provision also does not prevent federal administrative agencies
                        from adjudicating claims and awarding remedies based on the claims addressed in this Section 11,
                        even if the claims would otherwise be covered by this Mutual Arbitration Provision. Nothing in this
                        Mutual Arbitration Provision prevents or excuses a party from satisfying any conditions precedent
                        and/or exhausting administrative remedies under applicable law or as required under this Agreement
                        before bringing a claim in arbitration. POSTA will not retaliate against Contractor for filing a
                        claim with an administrative agency or for exercising rights (individually or in concert with others)
                        under Section 7 of the National Labor Relations Act.
                    </p>

                    <p>Right to Opt Out of Arbitration. Arbitration is not a mandatory condition of Contractor's contractual
                        relationship with POSTA, and therefore Contractor may submit a statement notifying POSTA that Contractor
                        wishes to opt out of this Mutual Arbitration Provision. In order to opt out, Contractor must notify
                        POSTA of Contractor's intention to opt out by filling out and submitting this Opt-Out Form stating
                        Contractor's first and last name, email address, home address, and intention to opt out or by submitting
                        a signed and dated statement on an "Opt Out Form" that can be obtained from and returned to POSTA
                        at tryposta@gmail.com, a written notice stating that you are opting out of this Mutual Arbitration
                        Provision. In order to be effective, Contractor's opt-out notice must be provided within thirty (30)
                        days of Contractor's digital execution of this Agreement. If Contractor opts out as provided in this
                        subparagraph, Contractor will not be subject to any adverse action as a consequence of that decision
                        and may pursue available legal remedies without regard to this Mutual Arbitration Provision. If Contractor
                        does not opt out within thirty (30) days of Contractor's execution of this Agreement, Contractor's
                        failure to do so shall constitute mutual acceptance of the terms of this Mutual Arbitration Provision
                        by POSTA and Contractor.</p>

                    <p>Contractor's decision to opt out of this Mutual Arbitration Provision will relieve Contractor only of
                        Contractor's obligation to arbitrate the disputes specified in this Mutual Arbitration Provision,
                        and does not relieve Contractor of any obligation to arbitrate disputes not specified in this Mutual
                        Arbitration Provision that might arise under any POSTA Terms of Service to which Contractor may be
                        bound as a customer. Similarly, Contractor's decision to opt out of another arbitration provision
                        contained in any other agreement shall not relieve Contractor's obligation to arbitrate disputes
                        pursuant to this Mutual Arbitration Provision.
                    </p>
                    <p>Right To Consult With An Attorney: Contractor has the right to consult with private counsel of Contractor's
                        choice, at Contractor's own expense, with respect to any aspect of, or any claim that may be subject
                        to this Mutual Arbitration Provision.</p>

                    <p>In the event any portion of this Mutual Arbitration Provision is deemed unenforceable, the remainder
                        of this Mutual Arbitration Provision will be enforceable. In any case in which (1) the dispute is
                        filed as a class, collective, or representative action and (2) there is a final judicial determination
                        that all or part of the Class Action Waiver and/or Representative Action Waiver is invalid or unenforceable,
                        the class, collective, or representative action to that extent must be litigated in a civil court
                        of competent jurisdiction, but the portion of the Class Action Waiver and Representative Action Waiver
                        that is valid and enforceable shall be enforced in arbitration. </p>
                    <h5>12. Term and Termination of Agreement </h5>
                    <p>12A. This Agreement shall remain in full force and effect for a term of one (1) year from the date it
                        is accepted by Contractor and may not be terminated early without penalty except in the following
                        limited circumstances:
                    </p>
                    <p> Upon the mutual written consent of the Parties hereto (with electronic communication satisfying this
                        requirement), with the mutually agreed-upon termination date stated in the written notice. </p>
                    <p>By POSTA, upon thirty (30) days' written notice to Contractor, if Contractor has not performed a delivery
                        for a period of at least four (4) months (with electronic communication satisfying this requirement),
                        with the date of transmission commencing the thirty (30) day period.</p>
                    <p> By POSTA, in the event of an anticipated change in control or cessation of its operations in Contractor's
                        market, upon thirty (30) days' written notice to the Contractor (with electronic communication satisfying
                        this requirement), with the date of transmission commencing the thirty (30) day period. </p>
                    <p>If one party has materially breached the Agreement, immediately upon written notice to the breaching
                        party (with electronic communication satisfying this requirement), with such notice specifying the
                        breach relied upon. In the case of a material breach by Contractor, and upon written notice, POSTA
                        may deactivate Contractor's account. </p>
                    <p>12B. The following acts and/or occurrences shall constitute a material breach of this Agreement:</p>
                    <p> Failure by Contractor to maintain current insurance coverage in the amounts and types specified herein
                        or as required by law. Failure by POSTA to remit to Contractor all delivery fees for completed Deliveries
                        within twenty-one (21) days of the customer's payment. Failure by Contractor to maintain the minimum
                        customer star rating applicable in Contractor's market as of the date Contractor accepts this agreement.
                        Failure by Contractor to complete a Delivery without waiver of the obligation by the customer or
                        POSTA. Failure by Contractor to maintain all licenses, permits, authorities, registrations and/or
                        other prerequisites to operate that are required by law and/or this Agreement. Any act by a Party
                        that causes the other party to violate its obligations under any applicable state, federal or local
                        law. </p>
                    <p>Documented complaint by a customer, employee of POSTA, or employee of a Merchant that Contractor has
                        engaged in conduct that a reasonable person would find physically threatening, highly offensive or
                        harassing. Documented illegal or destructive acts, including but not limited to fraud or theft, engaged
                        in by Contractor. Failure by Contractor to reasonably cooperate with POSTA in the investigation of
                        or response to any claim (insurance, civil, or otherwise) arising out of or related to Contractor's
                        and/or Subcontractor's alleged or actual acts or omissions while using the POSTA Platform. Failure
                        by Contractor to provide delivery services in a manner consistent with POSTA’s effective operation
                        of the POSTA Platform. </p>
                    <p>12C. Early termination of this Agreement by POSTA without proper notice (as established in subsection
                        A above) shall result in liquidated damages of $100.00 for each day that notice is not properly provided
                        to Contractor, up to a maximum amount of $500.00. The Parties acknowledge that liquidated damages
                        are appropriate because actual damages are not reasonably ascertainable. </p>
                    <p>12D. A party that receives notice of termination must continue to fulfill its obligations under this
                        Agreement for the entire notice period. Failure to perform shall constitute early termination and
                        shall subject the party to the liquidated damages provision in subparagraph 12C above.</p>
                    <p> 12E. Other than for failure to maintain the minimum customer star rating, or illegal or destructive acts,
                        in the event Contractor disputes that he or she materially breached this Agreement, Contractor may
                        challenge POSTA decision using the dispute resolution process described in Section 11, above. In
                        all such instances, the parties will be responsible for their own attorneys' fees and costs, subject
                        to any remedy to which they may be entitled under applicable law and which would otherwise be available
                        in a court of law, but POSTA shall bear the Arbitrator's and arbitration fees and costs. Notwithstanding
                        the foregoing, as set forth below, Contractor is not precluded from asserting that applicable law
                        requires POSTA to bear the Arbitrator's and arbitration fees and costs, even for failure to maintain
                        the minimum customer star rating, or illegal or destructive acts. In the event there is a dispute
                        in this regard, the Arbitrator must determine the appropriate apportionment of fees at the earliest
                        practicable time following commencement of the arbitration.
                        <p>12F. If not terminated, the Agreement shall be automatically renewed for successive one-year terms,
                            unless terminated by either party as described in Sections 12A and 12B. 12G. Contractor's and
                            POSTA’s obligations and rights arising under Section 5, 7, 8, 9, 10, 11, 12, 13 and 14 of this
                            Agreement shall survive termination of this Agreement and deactivation of Contractor's account.
                        </p>
                        <h5>13. Entire Agreement, Transferability, And Waiver </h5>
                        <p>13A. This Agreement shall constitute the entire agreement and understanding between the Parties with
                            respect to the subject matter of this Agreement and shall not be modified, altered, changed or
                            amended in any respect, unless in writing and executed by both Parties. This Agreement supersedes
                            any prior contract between the Parties. This Agreement may not be assigned by either Party without
                            written consent of the other, and shall be binding upon the Parties hereto, including their heirs
                            and successors, provided, however, that POSTA may assign its rights and obligations under this
                            Agreement to an affiliate of POSTA or any successor(s) to its business and/or purchaser of all
                            or substantially all of its stock or assets. References in this Agreement to POSTA shall be deemed
                            to include such successor(s).
                        </p>
                        <p>13B. The failure of POSTA or Contractor in any instance to insist upon a strict performance of the
                            terms of this Agreement or to exercise any option herein, shall not be construed as a waiver
                            or relinquishment of such term or option and such term or option shall continue in full force
                            and effect.</p>
                        <h5> 14. Miscellaneous </h5>
                        <p>14A. No Services Required. Nothing in this Agreement requires a Contractor to use the POSTA Platform
                            to provide any delivery services. Contractor may cease using the POSTA Platform to accept Delivery
                            Opportunities at any time without providing POSTA notice of Contractor's intention to stop using
                            the POSTA Platform. </p>
                        <p>14B. Captions. Captions appearing in this Agreement are for convenience only and do not in any way
                            limit, amplify, modify, or otherwise affect the terms and provisions of this Agreement.
                        </p>
                        <p>14C. Savings Clause. If any part of this Agreement is declared unlawful or unenforceable, the remainder
                            of this Agreement shall remain in full force and effect. </p>
                        <p>14D. Force Majeure. The performance of the obligations of this Agreement on the part of either POSTA
                            or Contractor shall be excused by reasons of closing of public highways, changes in operations,
                            strikes or work stoppages, weather conditions that make operations unsafe or impractical, Acts
                            of God, or the temporary or permanent cessation of business by POSTA or Contractor.
                        </p>
                        <p>14E. Conflict of Terms Clause. In case of any inconsistency or conflict between the terms and conditions
                            of this Fleet Agreement and those of the Privacy Policy or Terms of Service, the terms of this
                            Fleet Agreement shall govern and control. </p>
                        <p>14F. Stripe Connected Account Terms of Service. Contractor represents and warrants that he or she
                            has reviewed, understands and agrees to the Stripe Connected Account Agreement and which is expressly
                            incorporated herein by reference. </p>
                        <p>By entering into this Agreement, Contractor expressly acknowledges and agrees that Contractor read
                            and fully understand the provisions of this Agreement, Contractor had sufficient time and opportunity
                            to consult with legal and tax advisors before executing this Agreement, Contractor is legally
                            competent to enter into this Agreement, and Contractor agrees to be bound by this Agreement.</p>
                        <br>
                        <br>

                        <!-- close main container -->
                </main>
                <!-- Include the Partial for the bottom finishing the html (Body close tag is in bottom.ejs)-->
                <%- include('partials/bottomBarPartners') -%>

                    <!-- Include the Partial for the bottom finishing the html (Body close tag is in bottom.ejs)-->
                    <%- include('partials/bottom') -%>